@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Game launcher for Lingvo platform</h2>
    <p class="display-6">
        Перейдите в Games и зайдите на интересующую вас игру. Запустите игру и поиграйте
    </p>
</div>
